<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @shipping_address.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @shipping_address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shipping_address.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @shipping_address.zip %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @shipping_address.cart %>
</p>

<%= link_to 'Edit', edit_shipping_address_path(@shipping_address) %> |
<%= link_to 'Back', shipping_addresses_path %>
