<p id="notice"><%= notice %></p>

<p>
  <strong>Payment via:</strong>
  <%= @payment_type.payment_via %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @payment_type.cart %>
</p>

<%= link_to 'Edit', edit_payment_type_path(@payment_type) %> |
<%= link_to 'Back', payment_types_path %>
