<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Kinbo-E.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Music Genres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @categories.each do |category| %>
            <%= link_to category.name , category, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
          <% end %>
        </div>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <% if user_signed_in? %>
          <li class="nav-item float-right">
            <%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link', method: :delete %>
          </li>
          <li class="nav-item">
            <%= link_to cart_path(@current_cart), class: 'nav-link' do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Cart (<%= @current_cart.total_quantity %>)
            <% end %>
          </li>
      <% else %>
          <li class="nav-item float-right">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item float-right">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
      <% end %>
    </ul>
    <%= form_tag(root_path, method: :get, class: 'form-inline my-2 my-lg-0') do %>
        <%= text_field_tag :name, params[:name], placeholder: 'Search', class: 'form-control mr-sm-2' %>
        <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>